<!-- <img src="https://www.conted.ox.ac.uk/www/static/images/oudce_logo.svg" alt="OXF_logo_HTML" width="300"> 
-->

<img src="" alt="OXF_logo_HTML" width="300"> 

<h1>Python Programming for Data Science Introduction</h1>
Weekly Oxford Worldwide (WOW) Course Format

<style>
div.scrollable {
    height: 300px;  /* Adjust this value as needed */
    overflow: auto;
    border: 1px solid #ccc;  /* Optional: Adds a border */
    padding: 10px;           /* Optional: Adds padding inside the box */
}
</style>

## Lecture 2 Plan

1. Selection (`if` statements)

2. Operators (Comparison, Arithmetic, Logical)

3. Iteration (`for`...`in`... and `while`...)

4. Functions / Methods

## 1.0 Selection

* Selection gives users choice in programs.

* Blocks of code run providing a comparison results in `True`

* This binary evaluation applies for both selection statements and iterative statements!

## 1.1 The `if` statement
* Like most programming languages, Python uses the `if` statement to evaluate whether it should run a block of code or not.

* If the evaluation is `True`, the body of the `if` statement will be run.

* If the evaluation is `False`, the body is not run (ignored).

In [ ]:
score = 45
if score >= 40 :
    print("You passed!")

You passed!

Read this evaluation out loud in natural language. 
* Q: What's the value of score? A: 45

* Q: Is 45 greater than OR equal to 40? A: Yes

* Q: Do we run the body of the if statement? A: Yes

In [ ]:
score = 35
if score >= 40 :
    print("You passed!")

Note on Python syntax
* Indentation is important with Python blocks. 

* The following statement doesn't run if the 'body' of the if statement is not indented (press tab on the keyboard).

In [ ]:
score = 45
if score >= 40 :
print("You passed!")

IndentationError: expected an indented block (1150838026.py, line 3)

In [ ]:
name = 'Nick'
if name == "Nick":
    print("Hi", name)

Hi Nick

## 1.2 `else` statement

* The `else` statement could be seen as the counterpart to the `if` statement.

* Placed underneath the `if` statement, the `else` statement would run should the `if` statement evaluate to `False`.

* In the context of a series of evaluations, the `else` would come last, and only run if all the above evaluations are `False`.

In [ ]:
score = 35
if score >= 40 :
    print("You passed!")
else:
    print("Try again...")

Try again...

In [ ]:
name = "Sam"
if name == "Nick":
    print("Hi Nick!")
else:
    print("Hello someone else!")

Hello someone else!

In [ ]:
name = "nick"
if name == "Nick":
    print("Hi Nick!")
else:
    print("Hello someone else!")

Hello someone else!

## 1.3 The `elif` statement

* `elif` is Python's keyword for else if. 

* Sequentially, `elif` statements fit between the opening `if` statement and a closing `else` statement.

* `elif` statements are exclusive. They are only checked providing the preceeding conditional evaluated to `False`.

In [ ]:
score = 55
if score >= 40 :
    print("You passed!")
elif score >= 50 :
    print("You scored a C")
else :
    print("Try again...")

You passed!

Question: is this output logically correct?

In [ ]:
score = 55
if score >= 60:
    print("You scored a B!")
elif score >= 50 :
    print("You scored a C!")
elif score >= 40 :
    print("You passed!")
else :
    print("Try again...")

You scored a C!

What would happen if we used `if` statements here rather than `elif` statements?

In [ ]:
score = 55
if score >= 60:
    print("You scored a B!")
if score >= 50 :
    print("You scored a C!")
if score >= 40 :
    print("You passed!")
else :
    print("Try again...")

You scored a C!
You passed!

Multiple `if` statements could be true at the same time - they are not exclusive like `elif` statements.

## Selection in other languages

* Other languages: C, C++, C# and Java feature a `switch` statement and a ternary `?` operator as alternate ways to select between blocks of code. 

* `switch` is not present in Python, nor is the `?` used.

* But the ternary functionality can be performed with if and else in the same line (introduced in Python 2.5):    
`value_if_true if condition else value_if_false`

In [ ]:
score = 50
print("You passed!") if score >= 40 else print("Try again...")

You passed!

In [ ]:
score = 30
print("You passed!") if score >= 40 else print("Try again...")

Try again...

## 2.1 Comparison Operators

* `>` Greater than

* `<` Less than

* `>=` Greater than or equal

* `<=` Less than or equal

* `==` Equality

* `!=` Not equal

| Syntax      | Description |
| ----------- | ----------- |
| <b>x == y</b>   | True if x and y have same value |
| <b>x != y</b>   | True if x and y do not have the same value |
| <b>x < y</b>   | True if x is less than y |
| <b>x > y</b>   | True if x is greater than y |
| <b>x <= y</b>   | True if x is less than OR equal to y |
| <b>x >= y</b>   | True if x is greater than OR equal to y |

In [ ]:
score = 45
score >= 40

True

In [ ]:
score = 45
score == 45

True

In [ ]:
score = 45
score == '45'

False

In [ ]:
score = 45
score != 45

False

## 2.2 Arithmetic Operators

* `+` Addition

* `-` Subtraction

* `/` Division

* `%` Modulus

* `*` Multiplication

* `//` Floor Division

* `**` Power of

| Syntax      | Output |
| ----------- | ----------- |
| <b>5 + 5</b>   | 10 |
| <b>5 - 4</b>   | 1 |
| <b>5 / 2</b>   | 2.5 |
| <b>50 % 4</b>   | 2 (mod gives remainder) |
| <b>5 * 10</b>   | 50 |
| <b>5 // 2</b>   | 2 (round 2.5 down) |
| <b>5 ** 2</b>   | 25 (5 x 5) |

In [ ]:
8 ** 2 / 4

16.0

* 8 ** 2 = $8^2$ = 64

* $ 64/4 $ = 16

In [ ]:
4 + 4 ** 2

20

* 4 ** 2 = $4^2$ = 16

* 4 + 16 = 20

In [ ]:
(4 + 4) ** 2

64

* 4 + 4 = 8

* 8 ** 2 = $8^2$ = 64

## 2.3 Logical Operators

* `and` logical AND

* `or` logical OR

* `not` logical NOT


| Syntax      | Output |
| ----------- | ----------- |
| <b>x or y</b>   | Either x or y can be be True |
| <b>x and y</b>   | Both x and y have to be True |
| <b>not x</b>   | True only if x is False |

In [ ]:
score = 45
if score >= 40 and score <= 100 :
    print("You passed!")

You passed!

In [ ]:
score = 101
if score < 0 or score > 100 :
    print("Incorrect mark!")

Incorrect mark!

In [ ]:
score = -1
if score < 0 or score > 100 :
    print("Incorrect mark!")

Incorrect mark!

In [ ]:
score = 50
if not score < 0 and not score > 100 :
    print("Mark between correct boundaries!")

Mark between correct boundaries!

In [ ]:
score = 101
if not score < 0 and not score > 100 :
    print("Mark between correct boundaries!")
else:
    print("Incorrect mark!")

Incorrect mark!

## 3.0 Iteration

* Like the `if` statement, iterative statements (loops) will run the block whilst the evaluate is `True`.

* To prevent an infinite loop, you would need to set a case where the evaluation is `False` so to exit the loop. 

* The number of repetitions could be static or dyanmic (dependent upon circumstance or input)

REMEMBER: 
* A selection statement executes the block ONCE if the valuation is `True`. 

* Whereas an iterative statement REPEATS the block whilst the evaluation is `True`

![for_loop](https://www.mathwarehouse.com/programming/images/while_loop/top-5-programming-animated-gifs_demonstration-of-while-loop-animation_logo.gif)

In [ ]:
import time # for illustration purposes - delaying outputs

In [ ]:
i = 0
while i < 3 :
    print("Loop", i)
    time.sleep(1) # for illustration purposes
    i += 1

Loop 0
Loop 1
Loop 2

In [ ]:
for i in range(1,4):
    print(i)
    time.sleep(1) # for illustration purposes

1
2
3

Like most languages, Python strings are 'arrays', in which each character is stored in an indexed position (more on this in Lecture 4):

In [ ]:
name = "Nick"
for x in name :
    print(x)
    time.sleep(1) # for illustration purposes

N
i
c
k

## Iteration in other languages

* Other languages: C, C++, C# and Java feature a `do while` and the traditional for loop `for(int i = 0; i < 5; i++)` loop as alternate ways to iterate over between blocks of code. 

* The `for‚Ä¶ in‚Ä¶` in Python is equivalent to the `for each` loop in other languages.

* `do while` is not present in Python, nor the traditional `for` loop.

* Increment operator (`++`) also not in Python because `int` is a class, not a primitive type.

## There is also list comprehension... 

* We'll see this in the next lecture...

## Reminder of the core constructs: 

* <b>Sequence</b> mandates that statements be executed in order (line by line)

* <b>Selection</b> (conditional) statements will execute a block of code once when the condition is `True`

* <b>Iteration</b> allows us to repeat statements within a block whilst the condition is `True`

## 4. Functions!
* A function is a block of code that performs a well defined task. 

* Could be a single line of code, or could be multiple statements which contribute to the achievement of a task. 

* In our first week, we shall use the main method to achieve basic tasks, such as outputting a message to the screen, or storing the user‚Äôs name.

In [ ]:
def get_input():
    return input("Please enter your name: ")

In [ ]:
get_input()

'sam'

In [ ]:
name = get_input()
print(name)

In [ ]:
def add(x, y):
    return x + y

In [ ]:
x = 8 
y = 10
add(x, y)

18

# Exercise 2: Expressions

In this week's exercise, you'll learn how to:

1. navigate Jupyter notebooks (like this one);
2. write and evaluate some basic *expressions* in Python, the computer language of the course;
3. call *functions* to use code other people have written; and
4. break down Python code into smaller parts to understand it.

# 1. Jupyter notebooks
This webpage is called a Jupyter notebook. A notebook is a place to write programs and view their results.

## 1.1. Text cells
In a notebook, each rectangle containing text or code is called a *cell*.

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but you might want to.

After you edit a text cell, click the "run cell" button at the top that looks like ‚ñ∂| to confirm any changes. (Try not to delete the instructions of this exercise.)

**Question 1.1.1.** This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph, and then click the "run cell" ‚ñ∂| button .  This sentence, for example, should be deleted.  So should this one.

## 1.2. Code cells
Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains.

To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, either press ‚ñ∂| or hold down the `shift` key and press `return` or `enter`.

Try running this cell:

In [ ]:
print("Hello, World!")

And this one:

In [ ]:
print("\N{WAVING HAND SIGN}, \N{EARTH GLOBE ASIA-AUSTRALIA}!")

The fundamental building block of Python code is an expression. Cells can contain multiple lines with multiple expressions. When you run a cell, the lines of code are executed in the order in which they appear. Every `print` expression prints a line. Run the next cell and notice the order of the output.

In [ ]:
print("First this line is printed,")
print("and then this one.")

**Question 1.2.1.** Change the cell above so that it prints out:

    First this line,
    then the whole üåè,
    and then this one.

*Hint:* If you're stuck on the Earth symbol for more than a few minutes, try talking to a neighbor or a TA.  That's a good idea for any exercise problem.

## 1.3. Writing Jupyter notebooks
You can use Jupyter notebooks for your own projects or documents.  When you make your own notebook, you'll need to create your own cells for text and code.

To add a cell, click the + button in the menu bar.  It'll start out as a text cell.  You can change it to a code cell by clicking inside it so it's highlighted, clicking the drop-down box next to the restart (‚ü≥) button in the menu bar, and choosing "Code".

**Question 1.3.1.** Add a code cell below this one.  Write code in it that prints out:
   
    A whole new cell! ‚ô™üåè‚ô™

(That musical note symbol is like the Earth symbol.  Its long-form name is `\N{EIGHTH NOTE}`.)

Run your cell to verify that it works.

## 1.4. Errors
Python is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

Whenever you write code, you'll make mistakes.  When you run a code cell that has errors, Python will sometimes produce error messages to tell you what you did wrong.

Errors are okay; even experienced programmers make many errors.  When you make an error, you just have to find the source of the problem, fix it, and move on.

We have made an error in the next cell.  Run it and see what happens.

In [ ]:
print("This line is missing something."

You should see something like this (minus our annotations):

<img src="images/error.jpg"/>

The last line of the error output attempts to tell you what went wrong.  The *syntax* of a language is its structure, and this `SyntaxError` tells you that you have created an illegal structure.  "`EOF`" means "end of file," so the message is saying Python expected you to write something more (in this case, a right parenthesis) before finishing the cell.

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. If you see a cryptic message like this, you can often get by without deciphering it.  (Of course, if you're frustrated, ask a neighbor or the lecturer for help.)

Try to fix the code above so that you can run the cell and see the intended message instead of an error.

# 2. Numbers

Quantitative information arises everywhere in data science. In addition to representing commands to print out lines, expressions can represent numbers and methods of combining numbers. The expression `3.2500` evaluates to the number 3.25. (Run the cell and see.)

In [ ]:
3.2500

Notice that we didn't have to `print`. When you run a notebook cell, if the last line has a value, then Jupyter helpfully prints out that value for you. However, it won't print out prior lines automatically.

In [ ]:
print(2)
3
4

Above, you should see that 4 is the value of the last expression, 2 is printed, but 3 is lost forever because it was neither printed nor last.

You don't want to print everything all the time anyway.  But if you feel sorry for 3, change the cell above to print it.

## 2.1. Arithmetic
The line in the next cell subtracts.  Its value is what you'd expect.  Run it.

In [ ]:
3.25 - 1.5

Many basic arithmetic operations are built in to Python.  The textbook section on [Expressions](http://www.inferentialthinking.com/chapters/03/1/expressions.html) describes all the arithmetic operators used in the course.  The common operator that differs from typical math notation is `**`, which raises one number to the power of the other. So, `2**3` stands for $2^3$ and evaluates to 8. 

The order of operations is what you learned in elementary school, and Python also has parentheses.  For example, compare the outputs of the cells below. Use parentheses for a happy new year!

In [ ]:
1+6*5-6*3**2*2**3/4*7

In [ ]:
1+(6*5-(6*3))**2*((2**3)/4*7)

In standard math notation, the first expression is

$$1 + 6 \times 5 - 6 \times 3^2 \times \frac{2^3}{4} \times 7,$$

while the second expression is

$$1 + (6 \times 5 - (6 \times 3))^2 \times (\frac{(2^3)}{4} \times 7).$$

**Question 2.1.1.** Write a Python expression in this next cell that's equal to $5 \times (3 \frac{10}{11}) - 50 \frac{1}{3} + 2^{.5 \times 22} - \frac{7}{33}$.  That's five times three and ten elevenths, minus fifty and a third, plus two to the power of half 22, minus 7 33rds.  By "$3 \frac{10}{11}$" we mean $3+\frac{10}{11}$, not $3 \times \frac{10}{11}$.

Replace the ellipses (`...`) with your expression.  Try to use parentheses only when necessary.

*Hint:* The correct output should start with a familiar number.

In [ ]:
...

# 3. Names
In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we just say, "Bear!"

Similarly, an effective strategy for writing code is to define names for data as we compute it, like a lawyer would define terms for complex ideas at the start of a legal document to simplify the rest of the writing.

In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [ ]:
ten = 3 * 2 + 4

When you run that cell, Python first evaluates the first line.  It computes the value of the expression `3 * 2 + 4`, which is the number 10.  Then it gives that value the name `ten`.  At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [ ]:
ten

The statement `ten = 3 * 2 + 4` is not asserting that `ten` is already equal to `3 * 2 + 4`, as we might expect by analogy with math notation.  Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

If the designers of Python had been ruthlessly pedantic, they might have made us write

    define the name ten to hereafter have the value of 3 * 2 + 4 

instead.  You will probably appreciate the brevity of "`=`"!  But keep in mind that this is the real meaning.

**Question 3.1.** Try writing code that uses a name (like `eleven`) that hasn't been assigned to anything.  You'll see an error!

A common pattern in Jupyter notebooks is to assign a value to a name and then immediately evaluate the name in the last line in the cell so that the value is displayed as output.

In [ ]:
close_to_pi = 355/113
close_to_pi

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

In [ ]:
bimonthly_salary = 840
monthly_salary = 2 * bimonthly_salary
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

Names in Python can have letters (upper- and lower-case letters are both okay and count as different letters), underscores, and numbers.  The first character can't be a number (otherwise a name might look like a number).  And names can't contain spaces, since spaces are used to separate pieces of code from each other.

Other than those rules, what you name something doesn't matter *to Python*.  For example, this cell does the same thing as the above cell, except everything has a different name:

In [ ]:
a = 840
b = 2 * a
c = 12
d = c * b
d

**However**, names are very important for making your code *readable* to yourself and others.  The cell above is shorter, but it's totally useless without an explanation of what it does.

According to a famous joke among computer scientists, naming things is one of the two hardest problems in computer science.  (The other two are cache invalidation and "off-by-one" errors.  And people say computer scientists have an odd sense of humor...)

**Question 3.2.** Assign the name `seconds_in_a_decade` to the number of seconds between midnight January 1, 2010 and midnight January 1, 2020.

*Hint:* If you're stuck, the next section shows you how to get hints.

In [ ]:
# Change the next line so that it computes the number of
# seconds in a decade and assigns that number the name
# seconds_in_a_decade.
seconds_in_a_decade = ...

# We've put this line in this cell so that it will print
# the value you've given to seconds_in_a_decade when you
# run it.  You don't need to change this.
seconds_in_a_decade

## 3.1. Comments
You may have noticed this line in the cell above:

    # Change the next line so that it computes the number of

That is called a *comment*.  It doesn't make anything happen in Python; Python ignores anything on a line after a #.  Instead, it's there to communicate something about the code to you, the human reader.  Comments are extremely useful.

<img src="http://imgs.xkcd.com/comics/future_self.png">

## 3.2. Application: A physics experiment

On the Apollo 15 mission to the Moon, astronaut David Scott famously replicated Galileo's physics experiment in which he showed that gravity accelerates objects of different mass at the same rate. Because there is no air resistance for a falling object on the surface of the Moon, even two objects with very different masses and densities should fall at the same rate. David Scott compared a feather and a hammer.

You can run the following cell to watch a video of the experiment.

In [ ]:
from IPython.display import YouTubeVideo
# The original URL is:
#   https://www.youtube.com/watch?v=U7db6ZeLR5s
YouTubeVideo("U7db6ZeLR5s")

Here's the transcript of the video:

**167:22:06 Scott**: Well, in my left hand, I have a feather; in my right hand, a hammer. And I guess one of the reasons we got here today was because of a gentleman named Galileo, a long time ago, who made a rather significant discovery about falling objects in gravity fields. And we thought where would be a better place to confirm his findings than on the Moon. And so we thought we'd try it here for you. The feather happens to be, appropriately, a falcon feather for our Falcon. And I'll drop the two of them here and, hopefully, they'll hit the ground at the same time. 

**167:22:43 Scott**: How about that!

**167:22:45 Allen**: How about that! (Applause in Houston)

**167:22:46 Scott**: Which proves that Mr. Galileo was correct in his findings.

**Newton's Law.** Using this footage, we can also attempt to confirm another famous bit of physics: Newton's law of universal gravitation. Newton's laws predict that any object dropped near the surface of the Moon should fall

$$\frac{1}{2} G \frac{M}{R^2} t^2 \text{ meters}$$

after $t$ seconds, where $G$ is a universal constant, $M$ is the moon's mass in kilograms, and $R$ is the moon's radius in meters.  So if we know $G$, $M$, and $R$, then Newton's laws let us predict how far an object will fall over any amount of time.

To verify the accuracy of this law, we will calculate the difference between the predicted distance the hammer drops and the actual distance.  (If they are different, it might be because Newton's laws are wrong, or because our measurements are imprecise, or because there are other factors affecting the hammer for which we haven't accounted.)

Someone studied the video and estimated that the hammer was dropped 113 cm from the surface. Counting frames in the video, the hammer falls for 1.2 seconds (36 frames).

**Question 3.3.1.** Complete the code in the next cell to fill in the *data* from the experiment.

In [ ]:
# t, the duration of the fall in the experiment, in seconds.
# Fill this in.
time = 

# The estimated distance the hammer actually fell, in meters.
# Fill this in.
estimated_distance_m =

**Question 3.3.2.** Now, complete the code in the next cell to compute the difference between the predicted and estimated distances (in meters) that the hammer fell in this experiment.

This just means translating the formula above ($\frac{1}{2}G\frac{M}{R^2}t^2$) into Python code.  You'll have to replace each variable in the math formula with the name we gave that number in Python code.

In [ ]:
# First, we've written down the values of the 3 universal
# constants that show up in Newton's formula.

# G, the universal constant measuring the strength of gravity.
gravity_constant = 6.674 * 10**-11

# M, the moon's mass, in kilograms.
moon_mass_kg = 7.34767309 * 10**22

# R, the radius of the moon, in meters.
moon_radius_m = 1.737 * 10**6

# The distance the hammer should have fallen over the
# duration of the fall, in meters, according to Newton's
# law of gravity.  The text above describes the formula
# for this distance given by Newton's law.
# **YOU FILL THIS PART IN.**
predicted_distance_m = 

# Here we've computed the difference between the predicted
# fall distance and the distance we actually measured.
# If you've filled in the above code, this should just work.
difference = predicted_distance_m - estimated_distance_m
difference

## 4. Calling functions

The most common way to combine or manipulate values in Python is by calling functions. Python comes with many built-in functions that perform common operations.

For example, the `abs` function takes a single number as its argument and returns the absolute value of that number.  The absolute value of a number is its distance from 0 on the number line, so `abs(5)` is 5 and `abs(-5)` is also 5.

In [ ]:
abs(5)

In [ ]:
abs(-5)

## 4.1. Application: Computing walking distances
Chunhua is on the corner of 7th Avenue and 42nd Street in Midtown Manhattan, and she wants to know far she'd have to walk to get to Gramercy School on the corner of 10th Avenue and 34th Street.

She can't cut across blocks diagonally, since there are buildings in the way.  She has to walk along the sidewalks.  Using the map below, she sees she'd have to walk 3 avenues (long blocks) and 8 streets (short blocks).  In terms of the given numbers, she computed 3 as the difference between 7 and 10, *in absolute value*, and 8 similarly.  

Chunhua also knows that blocks in Manhattan are all about 80m by 274m (avenues are farther apart than streets).  So in total, she'd have to walk $(80 \times |42 - 34| + 274 \times |7 - 10|)$ meters to get to the park.

<img src="images/map.jpg"/>

**Question 4.1.1.** Finish the line `num_avenues_away = ...` in the next cell so that the cell calculates the distance Chunhua must walk and gives it the name `manhattan_distance`.  Everything else has been filled in for you.  **Use the `abs` function.**

In [ ]:
# Here's the number of streets away:
num_streets_away = abs(42-34)

# Compute the number of avenues away in a similar way:
num_avenues_away = ...

street_length_m = 80
avenue_length_m = 274

# Now we compute the total distance Chunhua must walk.
manhattan_distance = street_length_m*num_streets_away + avenue_length_m*num_avenues_away

# We've included this line so that you see the distance
# you've computed when you run this cell.  You don't need
# to change it, but you can if you want.
manhattan_distance

##### Multiple arguments
Some functions take multiple arguments, separated by commas. For example, the built-in `max` function returns the maximum argument passed to it.

In [ ]:
max(2, -3, 4, -5)

# 5. Understanding nested expressions
Function calls and arithmetic expressions can themselves contain expressions.  You saw an example in the last question:

    abs(42-34)

has 2 number expressions in a subtraction expression in a function call expression.  And you probably wrote something like `abs(7-10)` to compute `num_avenues_away`.

Nested expressions can turn into complicated-looking code. However, the way in which complicated expressions break down is very regular.

Suppose we are interested in heights that are very unusual.  We'll say that a height is unusual to the extent that it's far away on the number line from the average human height.  [An estimate](http://press.endocrine.org/doi/full/10.1210/jcem.86.9.7875?ck=nck&) of the average adult human height (averaging, we hope, over all humans on Earth today) is 1.688 meters.

So if Aditya is 1.21 meters tall, then his height is $|1.21 - 1.688|$, or $.478$, meters away from the average.  Here's a picture of that:

<img src="images/numberline_0.png">

And here's how we'd write that in one line of Python code:

In [ ]:
abs(1.21 - 1.688)

What's going on here?  `abs` takes just one argument, so the stuff inside the parentheses is all part of that *single argument*.  Specifically, the argument is the value of the expression `1.21 - 1.688`.  The value of that expression is `-.478`.  That value is the argument to `abs`.  The absolute value of that is `.478`, so `.478` is the value of the full expression `abs(1.21 - 1.688)`.

Picture simplifying the expression in several steps:

1. `abs(1.21 - 1.688)`
2. `abs(-.478)`
3. `.478`

In fact, that's basically what Python does to compute the value of the expression.

**Question 5.1.** Say that Botan's height is 1.85 meters.  In the next cell, use `abs` to compute the absolute value of the difference between Botan's height and the average human height.  Give that value the name `botan_distance_from_average_m`.

<img src="images/numberline_1.png">

In [ ]:
# Replace the ... with an expression to compute the absolute
# value of the difference between Botan's height (1.85m) and
# the average human height.
botan_distance_from_average_m = ...

# Again, we've written this here so that the distance you
# compute will get printed when you run this cell.
botan_distance_from_average_m

## 5.1. More nesting
Now say that we want to compute the most unusual height among Aditya's and Botan's heights.  We'll use the function `max`, which (again) takes two numbers as arguments and returns the larger of the two arguments.  Combining that with the `abs` function, we can compute the biggest distance from the average among the two heights:

In [ ]:
# Just read and run this cell.

aditya_height_m = 1.21
botan_height_m = 1.85
average_adult_human_height_m = 1.688

# The biggest distance from the average human height, among the two heights:
biggest_distance_m = max(abs(aditya_height_m - average_adult_human_height_m), abs(botan_height_m - average_adult_human_height_m))

# Print out our results in a nice readable format:
print("The biggest distance from the average height among these two people is", biggest_distance_m, "meters.")

The line where `biggest_distance_m` is computed looks complicated, but we can break it down into simpler components just like we did before.

The basic recipe is repeated simplification of small parts of the expression:
* We start with the simplest components whose values we know, like plain names or numbers.  (Examples: `aditya_height_m` or `5`.)
* **Find a simple-enough group of expressions:** We look for a group of simple expressions that are directly connected to each other in the code, for example by arithmetic or as arguments to a function call.
* **Evaluate that group:** We evaluate the arithmetic expressions or function calls they're part of, and replace the whole group with whatever we compute.  (Example: `aditya_height_m - average_adult_human_height_m` becomes `-.478`.)
* **Repeat:** We continue this process, using the values of the glommed-together stuff as our new basic components.  (Example: `abs(-.478)` becomes `.478`, and `max(.478, .162)` later becomes `.478`.)
* We keep doing that until we've evaluated the whole expression.

You can run the next cell to see a slideshow of that process.

In [ ]:
from IPython.display import IFrame
IFrame('https://docs.google.com/presentation/d/1urkX-nRsD8VJvcOnJsjmCy0Jpv752Ssn5Pphg2sMC-0/embed?start=false&loop=false&delayms=3000', 800, 600)

Ok, your turn. 

**Question 5.1.1.** Given the heights of the [Splash Triplets](https://en.wikipedia.org/wiki/Splash_Brothers) from the Golden State Warriors, write an expression that computes the smallest difference between any of the three heights. Your expression shouldn't have any numbers in it, only function calls and the names `clay`, `steph`, and `kevin`. Give the value of your expression the name `min_height_difference`.

In [ ]:
# The three players' heights, in meters:
clay =  2.01 # Clay Thompson is 6'7"
steph = 1.91 # Steph Curry is 6'3"
kevin = 2.06 # Kevin Durant is officially 6'9", but many suspect that he is taller.
             # (Further complicating matters, membership of the "Splash Triplets" 
             #  is disputed, since it was originally used in reference to 
             #  Clay Thompson, Steph Curry, and Draymond Green.)

# We'd like to look at all 3 pairs of heights, compute the absolute
# difference between each pair, and then find the smallest of those
# 3 absolute differences.  This is left to you!  If you're stuck,
# try computing the value for each step of the process (like the
# difference between Clay's heigh and Steph's height) on a separate
# line and giving it a name (like clay_steph_height_diff).
min_height_difference = ...

## 6. If statement and Functions

### 6.1 Write a function that takes a string as an input and returns:
* the string 'too short' if the string contains less than 10 characters
* the string 'just right' if the string contains between 10 and 15 characters
* the string 'way too long' if the string contains more than 15 characters

In [ ]:
# Write your solution here:

### 6.2 Write a Python program to check whether a letter of the Latin/English alphabet is a vowel or consonant.

Expected output:
```
Input a letter of the alphabet: r
r is a consonant.
```
or
```
Input a letter of the alphabet: a
a is a vowel.
```

In [ ]:
# the `input` function will create an interactive text input field for you to submit a letter
l = input("Input a letter of the alphabet: ")
# Write your solution here:

### Additional Exercises:

### Exercise 7:
Write a program that uses a loop to efficiently print the "seven times multiplication table". The output on screen should resemble the following: 
<p>
1 x 7 = 7 <br>
2 x 7 = 14 <br>
3 x 7 = 21 <br>
4 x 7 = 28 <br>
5 x 7 = 35 <br>
6 x 7 = 42 <br>
7 x 7 = 49 <br>
8 x 7 = 56 <br>
9 x 7 = 63 <br>
10 x 7 = 70 <br>
11 x 7 = 77 <br>
12 x 7 = 84 <br>
</p>

Extension: Can you write this so that any 'times table' can be generated from the number that a user enters.

### Exercise 8:
Write a program that enables a student to enter a letter grade (A, B, C, D, E or F), then convert that to a university undergraduate classification (1st, 2:1, 2:2, 3rd, ordinary, fail).

Extension 1: What happens if the user types in a lowercase letter? Does this affect the program? If so, how would you change the script?

Extension 2: Can you place this conditional logic that converts grades to classifications in a function? Don't forget to call this function!

### Exercise 9: 
Write a new program that asks the user to enter an exam mark (0-100). Write conditional statements to print out the grade they would achieve from this mark.

Extension 1: Also define this logic as a function 'convert_mark_to_grade'

Extension 2: Furthermore, also call the 'convert_grade_to_classification' function defined previously. The user should be able to enter a single mark, which is then converted to a grade, which in turn is then converted to a degree classification.

### Exercise 10: 
Write a guessing game program in Python. The game should randomly assign a number between 1 and 100 to a variable (without the user knowing the selected number) each time the game is run. The user must then guess the number selected and should be guided by whether their guess is greater or less than the randomly chosen number. The program should record how many guess attempts it takes to correctly identify the number.

In [ ]:
# Start by checking that the code provided outputs random numbers between 1 and 100

import random
target = 0
target = random.uniform(1, 100)
target = int(target)

print(target) # Don't forget to comment this print statement when the game starts!

# Code your solution here

Congratulations, you're done with Exercise 2! Remember to save the notebook appending your name.